.visual {
    height: 700px;
    background: url("/img/phone/iphone-11-pro-max-midnight-green.png") 50% 300px no-repeat;
    background-size: initial;
    background-color: #333;
}

.iphone_series {
    p {
        font-size: 13px;
    }
}